
#wrapper{

width: 800px;

margin: 10px auto;

text-align: left;

background: url('') no-repeat center center fixed ;

}

#console{

height: 400px;

overflow: auto;

background-color: #000;

padding: 15px;

font-family: monospace;

font-size: 12px;


}

.box{

-moz-box-shadow: 1px 1px 8px #00fafe;

-webkit-box-shadow: 1px 1px 8px #00fafe;

box-shadow: 1px 1px 8px #00fafe;

border: solid 1px black;

-webkit-border-radius: 8px 8px 0px 0px;

-moz-border-radius: 8px 8px 0px 0px;

border-radius: 8px 8px 0px 0px;

margin: 15px 0px;

background-color: #00fafe;

opacity: 0.8;

}

.prefix{

color: #00fafe;

}